ul li {
    display: inline;
    border: 5px orangered;
    text-align: center;
    width: 100px;
    list-style-type: none;
    padding: 35px 35px 35px 35px;
    margin-top: 0;
    margin-left: 20px;
    }
